.bg-neutral-800 {
    background-color: #1c1c1c;
    color: #ffffff;
}

.scroll-indicator {
    display: flex;
    height: 12rem;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    text-transform: uppercase;
    color: #a1a1a1;
}

.scroll-section {
    position: relative;
    height: 300vh;
    background-color: #262626;
}

.scroll-container {
    position: sticky;
    top: 0;
    display: flex;
    height: 100vh;
    align-items: center;
    overflow: hidden;
}

.scroll-content {
    display: flex;
    gap: 1rem;
}

.scroll-card {
    flex-shrink: 0;
    width: 300px;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.card-img {
    object-fit: cover;
    max-height: 100%;
    max-width: 50%;
}

.card-title {
    font-weight: 700;
    color: #ff5c4a;
    text-align: left;
}

.card-list {
    color: #013252;
    font-weight: 600;
    text-align: left;
    padding-left: 20px;
    list-style: none;
}

.card-list li:before {
    content: '✓';
    margin-right: 8px;
    color: #28a745; /* Green color for tick mark */
}