body {
  font-family: Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.nav_ul li {
  padding: 0 0.6rem;
}

.nav_ul a {
  font-size: 1.2rem;
  color: #ff5c4a !important;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.btn1 {
  border: 0;
  padding: 0.5rem 1.8rem;
  color: white;
  background-color: #F33A6A;
  cursor: pointer;
}

.btn2 {
  border: 0;
  padding: 0.5rem 1.2rem;
  color: white;
  background-color: #F33A6A;
  cursor: pointer;
}

.btn3 {
  color: white;
  background-color: #F33A6A;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.mission-section {
  background-color: #f8f9fa;
  padding: 3rem 1rem;
}

.mission-section h2 {
  color: #ff5c4a;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.mission-section p {
  font-size: 1.1rem;
  color: #013252;
  font-weight: 500;
}

.mission-heading {
  position: relative;
  display: inline-block;
  color: #ff5c4a;
}

.mission-heading::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #007bff;
  transform-origin: bottom left;
  animation: expandUnderline 1s ease-in-out infinite alternate;
}

.mission-heading2 {
  position: relative;
  margin: 20px;
}

.mission-heading2::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 2px;
  background-color: white;
  transform-origin: bottom left;
}

@keyframes expandUnderline {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.5);
  }
}

.carousel-item img {
  animation: zoom 10s infinite;
}


.counter-wrapper {
  margin-top: -40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1.5rem;
  padding: 10rem 9%;
  position: relative;
}

.counter-wrapper::before {
  background-color: #F33A6A;
  position: absolute;
  content: '';
  content: 0;
  top: 112px;
  left: 0;
  width: 100%;
  height: 60%;
  z-index: 1;
}

.counter {
  text-align: center;
  color: white;
  z-index: 2;
  position: relative;
}

.counter::before {
  position: absolute;
  content: '';
  left: 50%;
  width: 20%;
  height: .2rem;
}

.counter .count {
  font-size: 5rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.card-color-area {
  width: 100%;
  height: 50px;
  border-radius: 0 0 35px 35px;
  position: absolute;
  margin-top: 10px;
  bottom: 0;
  left: 0;
  right: 0;
}

.counter p {
  font-size: 1.4rem;
  font-weight: 700;
}

.card-img {
  height: 330px;
  width: 100px;
  object-fit: contain;
}

.card-title {
  font-weight: 700 !important;
  text-align: left;
}

.card-list {
  color: #013252;
  font-weight: 600;
  text-align: left !important;
  padding-left: 5px;
  list-style: none;
}

.card-list li:before {
  content: '✓';
  margin-right: 12px;
  color: 013252;
}

.card-list li {
  padding: 4px;
}

/* .group {
  position: relative;
  cursor: pointer;
  transition: shadow 0.3s ease;
}

.group:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.group .absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.group .bg-gradient-to-b {
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.3));
}

.group:hover .bg-gradient-to-b {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 70%, rgba(0, 0, 0, 0.6) 60%, rgba(0, 0, 0, 0.7) 70%);
}

.group .translate-y {
  transform: translateY(60%);
}

.group:hover .translate-y {
  transform: translateY(0);
}

.group .card-list {
  position: relative;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.5s ease;
}

.group .card-list li {
  list-style-type: none;
  margin-bottom: 5px;
  margin-top: 10px;
}

.group:hover .card-list {
  opacity: 1;
}


.group:hover .card-content {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.group:hover .card-content {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
}

.group .card-title {
  position: absolute;
  bottom: 10px;
  display: flex;
  justify-content: center;
} */


.team-card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.team-card-img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 300px;
  object-fit: contain;
}

.team-card-body {
  flex: 1;
  background-color: #f8f9fa;
}

.team-card-title {
  color: #ff5c4a;
  font-weight: 700;
}

.card-list {
  color: #013252;
}